<div class="containerApplicazione">
<button (click)="caricaDati()">GET</button>
<br>
<br>
<button  (click)="ordinaDati()">Ordina per Score</button>
<br>
<br>
<button (click) = "titoloOriginale = !titoloOriginale">Titolo Originale</button>

<table class="tabella" >
  <thead>
    <th>Titolo</th>
    <th>Anno</th>
    <th>RT Score</th>
    <th>Durata</th>

  </thead>

  <tbody>
<!-- @fade  animazione angular-->

    <tr  *ngFor="let film of datiComponente; let i = index" >
      <td  *ngIf="titoloOriginale; else visualizzaDescrizione">{{film.titolo}}</td>
      <ng-template #visualizzaDescrizione>
        <td >{{film.titolo}}<br><span ><strong>{{film.titoloOriginale}}</strong></span></td>
      </ng-template>
      <td>{{film.anno}}</td>
      <td>{{film.valutazione}}</td>
      <td>{{film.durata}} minuti ({{convertiDurata(film.durata)}})</td>

    </tr>

  </tbody>



</table>

</div>