*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.containerApplicazione{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabella {
  table-layout: fixed;
  border-collapse: separate;
  width: 100%;
  min-width: 700px;
  max-width: 1200px;
  border-spacing: 8px;
  margin: 30px auto;
  font-family: sans-serif;
  font-size: 18px !important;
}


.tabella thead {
  background-color: #eceaea;
  text-align: left;
  font-weight: bold;
  margin-bottom: 55px;
}

.tabella td {
  box-shadow: 0px 0px 3px 1px #d8d8d8;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #d6d5d5;
  text-align: justify;
  text-align-last: center;

}

.tabella th {
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #d6d5d5;
  text-align: justify;
  text-align-last: center;
  box-shadow: 0px 0px 3px 1px #d8d8d8;
}

button {
  background-color: #ffffff;
  border: 1px solid #b6b6b6;
  box-shadow: 1px 1px 2px 0px #b6b6b6;
  border-radius: 5px;
  width: 150px;
  height: 35px;
}

button:hover{
  background-color: rgb(248, 248, 248);
  font-weight: bold;
}

.tabella tr:nth-child(even) {
  background-color: #f8f8f8;
  }
  
  @keyframes fadeInTab {
    from  {opacity: 0;}
    to {opacity: 1;}
    }
    
    td, span{
        animation:  fadeInTab 1s ; 
    }
    